.outlet{
    background-color: red;
    margin-top: 4em;
    color: white;
}
#ot{
    height: 34em;
    width: 90em;
}
#ot1{
    text-align: center;
    width: 100%;
    margin-top: 2em;
    font-size: 1.4em;
}
#ot2{
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
}
#ot3{
    font-size: 1.4em;
    text-align: center;
    width: 100%;
}